<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="202006" id="de.christian_steinert.shantideva_verses" version="2.2.6" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shantideva</name>
    <description>
    An application that displays a daily verse from Shantideva's text "Engaging in Bodhisattva Behavior" and allows reading through the text. 
    </description>
    <author email="shantideva@christian-steinert.de" href="https://www.christian-steinert.de">
    Christian Steinert 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon density="mdpi" height="48" src="icon48.png" width="48" />
        <icon density="hdpi" height="72" src="icon72.png" width="72" />
        <icon density="xhdpi" height="96" src="icon96.png" width="96" />
        <icon density="xxhdpi" height="144" src="icon144.png" width="144" />
        <icon density="xxxhdpi" height="192" src="icon192.png" width="192" />
        <resource-file src="notify24.png" target="app/src/main/res/drawable-mdpi/ic_notify.png" />
        <resource-file src="notify36.png" target="app/src/main/res/drawable-hdpi/ic_notify.png" />
        <resource-file src="notify48.png" target="app/src/main/res/drawable-xhdpi/ic_notify.png" />
        <resource-file src="notify72.png" target="app/src/main/res/drawable-xxhdpi/ic_notify.png" />
        <resource-file src="notify96.png" target="app/src/main/res/drawable-xxxhdpi/ic_notify.png" />
        <resource-file src="strings-ar.xml" target="app/src/main/res/values-ar/strings.xml" />
        <resource-file src="strings-ru.xml" target="app/src/main/res/values-ru/strings.xml" />
        <resource-file src="strings-cn.xml" target="app/src/main/res/values-zh/strings.xml" />
        <resource-file src="strings-tw.xml" target="app/src/main/res/values-zh-rTW/strings.xml" />
        <resource-file src="strings-tw.xml" target="app/src/main/res/values-zh-rHK/strings.xml" />
        <resource-file src="strings-tw.xml" target="app/src/main/res/values-zh-rMO/strings.xml" />
        <resource-file src="strings-cn.xml" target="app/src/main/res/values-b+zh+Hans+HK/strings.xml" />
        <resource-file src="strings-cn.xml" target="app/src/main/res/values-b+zh+Hans+MO/strings.xml" />

        <allow-intent href="market:*" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="ic_notify" android:resource="@drawable/ic_notify" />
        </config-file>

    </platform>
    <platform name="ios">
        <splash src="www/content/info-logo.png" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="120" src="apple_icon120.png" width="120" />
        <icon height="152" src="apple_icon152.png" width="152" />
        <icon height="167" src="apple_icon167.png" width="167" />
        <icon height="180" src="apple_icon180.png" width="180" />
        <icon height="1024" src="apple_icon1024.png" width="1024" />
        <icon height="20" src="apple_icon20.png" width="20" />
        <icon height="29" src="apple_icon29.png" width="29" />
        <icon height="40" src="apple_icon40.png" width="40" />
        <icon height="50" src="apple_icon50.png" width="50" />
        <icon height="55" src="apple_icon55.png" width="55" />
        <icon height="57" src="apple_icon57.png" width="57" />
        <icon height="58" src="apple_icon58.png" width="58" />
        <icon height="60" src="apple_icon60.png" width="60" />
        <icon height="76" src="apple_icon76.png" width="76" />
        <icon height="80" src="apple_icon80.png" width="80" />
        <icon height="87" src="apple_icon87.png" width="87" />
        <icon height="88" src="apple_icon88.png" width="88" />
        <icon height="100" src="apple_icon100.png" width="100" />
        <icon height="114" src="apple_icon114.png" width="114" />
        <icon height="172" src="apple_icon172.png" width="172" />
        <icon height="196" src="apple_icon196.png" width="196" />
        <icon height="216" src="apple_icon216.png" width="216" />
        <feature name="SplashScreen">
            <param name="ios-package" value="CDVSplashScreen" />
        </feature>
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    </platform>
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="GradlePluginGoogleServicesEnabled" value="false" />

    <!-- Switched protocol for loading the web page to file:// to allow accessing old data in localStorage. -->
    <!-- This can be removed in a future release of the app since the app will now also redundantly store 
         data in the App's SharedPreferences in the latest version. -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />

</widget>
