<?xml version='1.0' encoding='utf-8'?>
<widget id="de.christian_steinert.shantideva_verses" version="2.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shantideva</name>
    <description>
    An application that displays a daily verse from Shantideva's text "Engaging in Bodhisattva Behavior" and allows reading through the text. 
    </description>
    <author email="shantideva@christian-steinert.de" href="https://www.christian-steinert.de">
    Christian Steinert 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon density="mdpi" height="48" src="icon48.png" width="48" />
        <icon density="hdpi" height="72" src="icon72.png" width="72" />
        <icon density="xhdpi" height="96" src="icon96.png" width="96" />
        <icon density="xxhdpi" height="144" src="icon144.png" width="144" />
        <icon density="xxxhdpi" height="192" src="icon192.png" width="192" />
        <resource-file src="notify24.png" target="app/src/main/res/drawable-mdpi/ic_notify.png" />
        <resource-file src="notify36.png" target="app/src/main/res/drawable-hdpi/ic_notify.png" />
        <resource-file src="notify48.png" target="app/src/main/res/drawable-xhdpi/ic_notify.png" />
        <resource-file src="notify72.png" target="app/src/main/res/drawable-xxhdpi/ic_notify.png" />
        <resource-file src="notify96.png" target="app/src/main/res/drawable-xxxhdpi/ic_notify.png" />
        <resource-file src="strings-ar.xml" target="app/src/main/res/values-ar/strings.xml" />
        <resource-file src="strings-ru.xml" target="app/src/main/res/values-ru/strings.xml" />
        <resource-file src="strings-cn.xml" target="app/src/main/res/values-zh/strings.xml" />
        <resource-file src="strings-tw.xml" target="app/src/main/res/values-zh-rTW/strings.xml" />
        <resource-file src="strings-tw.xml" target="app/src/main/res/values-zh-rHK/strings.xml" />
        <resource-file src="strings-tw.xml" target="app/src/main/res/values-zh-rMO/strings.xml" />
        <resource-file src="strings-cn.xml" target="app/src/main/res/values-b+zh+Hans+HK/strings.xml" />
        <resource-file src="strings-cn.xml" target="app/src/main/res/values-b+zh+Hans+MO/strings.xml" />
        <allow-intent href="market:*" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="ic_notify" android:resource="@drawable/ic_notify" />
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="120" src="apple_icon120.png" width="120" />
        <icon height="152" src="apple_icon152.png" width="152" />
        <icon height="167" src="apple_icon167.png" width="167" />
        <icon height="180" src="apple_icon180.png" width="180" />
        <icon height="1024" src="apple_icon1024.png" width="1024" />

        <icon height="20" width="20" src="apple_icon20.png" />
        <icon height="29" width="29" src="apple_icon29.png" />
        <icon height="40" width="40" src="apple_icon40.png" />
        <icon height="50" width="50" src="apple_icon50.png" />
        <icon height="55" width="55" src="apple_icon55.png" />
        <icon height="57" width="57" src="apple_icon57.png" />
        <icon height="58" width="58" src="apple_icon58.png" />
        <icon height="60" width="60" src="apple_icon60.png" />
        <icon height="76" width="76" src="apple_icon76.png" />
        <icon height="80" width="80" src="apple_icon80.png" />
        <icon height="87" width="87" src="apple_icon87.png" />
        <icon height="88" width="88" src="apple_icon88.png" />

        <icon height="100" width="100" src="apple_icon100.png" />
        <icon height="114" width="114" src="apple_icon114.png" />
        <icon height="172" width="172" src="apple_icon172.png" />
        <icon height="196" width="196" src="apple_icon196.png" />
        <icon height="216" width="216" src="apple_icon216.png" />

        <!--<preference name="SplashScreenDelay" value="0" />-->
        <feature name="SplashScreen">
            <param name="ios-package" value="CDVSplashScreen" />
        </feature>        
        <splash src="www/content/info-logo.png" />

        
    </platform>
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="AndroidXEnabled" value="true" />

    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
