@font-face { font-family: TangerineBold; src:url(Tangerine_Bold.woff) format('woff'); }

@font-face {
  font-family: 'DDC Uchen';
  src: local('DDC Uchen'),
       url('DDC_Uchen-webfont.woff') format('woff2'),
       url('DDC_Uchen-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.uilang-ar{direction: rtl}
.uilang-ar #footer, .uilang-ar #header h1{font-size:1.2em}
.uilang-ar #settingsTab, .uilang-ar #settingsTab .smallFormInfo, #infoTab .ar{font-size:1.1em}
.uilang-zh-cn #footer, .uilang-zh-tw #footer, .uilang-zh-cn #header h1, .uilang-zh-tw #header h1{font-size:1.25em; line-height:1em;}

#infoTab{direction:ltr;}
.uilang-bo #infoTab p.bo{font-size:1.3em;}
#infoTab p.zh{font-size:1.2em;}
#uiLanguage-menu, #uiLanguage-button, #textLanguage-menu, #textLanguage-button, #textLanguage2-menu, #textLanguage2-button {direction: ltr;}
#verseOfTheDay a{
 margin: 0.2em 0;
}

#verseOfTheDay .verse p {
 padding:0; 
 margin: 0.2em 0 0.2em 0;
}
#verseOfTheDay .verse {
 direction:ltr;
}

#verseOfTheDay .latin {
 font-family:"TangerineBold";
}
#verseOfTheDay .verse.ru, #verseOfTheDay .verse.sa,.textView h1.latin.sa {
 font-family:Roboto,"San Francisco", "Lucida Sans Unicode", "Lucida Grande", "Bitstream Vera Sans",sans-serif;
 font-size:1.5em;
}

#verseOfTheDay .verse.ru, #verseOfTheDay .verse.sa {
 font-style:italic;
}

#verseOfTheDay .verse.ar {
 font-size:1.7em;
 direction:rtl;
}

#verseOfTheDay .verse.bo {
 font-size:2em;
 padding-top:0.25em;
}
#verseOfTheDay .verse.zh-cn, #verseOfTheDay .verse.zh-tw, #verseOfTheDay .sa-devanagari {
 font-size:1.85em;
 padding-top:0.25em;
}
#verseOfTheDay .verse.bo, 
.textView .bo p,
.textView h1.bo,
.ui-selectmenu-text,
select,
.ui-menu-item {
  font-family: Roboto,"San Francisco", "Lucida Sans Unicode", "Lucida Grande", "Bitstream Vera Sans",sans-serif,"Jomolhari","Jomolhari ID","DDC Uchen","Kailasa","DDC Rinzin","Uchen_05","Qomolangma-Uchen Sarchung","Qomolangma-Uchen Sutung","Narthang","CTRC-Uchen","Monlam Uni OuChan2","Monlam Uni OuChan1","XenoType Tibetan New","TCRC Youtso Unicode","Tibetan Machine Uni","SambhotaDege","Microsoft Himalaya","Tib-US Unicode";
  text-rendering: optimizeLegibility;
}

.btn.small{
  text-indent:0;
  padding: 0.1em 0.25em;
  font-size:0.9em;
}
#favoritesTab .btn {
  margin-right:0.4em;
}
.ar #favoritesTab .btn {
  margin-right:0;
  margin-left:0.4em;
}

.likeBtn {
 display: inline-block;
 height:20px;
 width:25px;
 vertical-align:middle;
 margin-left:0.3em;
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 /*float:right;*/    
}
#verseOfTheDay .likeBtn{
 margin-left:0.1em;
}
.bo .likeBtn{
 position:relative;
 top:0.3em;
}

.liked{
 background-image:url('../icons/liked.png');
 opacity:0.7;
 filter: saturate(90%); 
}
.liked:hover{
 opacity:1;    
 filter: saturate(100%); 
}

.unliked{
 background-image:url('../icons/not_liked.png')
}

.textView .zh-cn p, .textView .zh-tw p, .textView .sa-devanagari p {
  font-size:1.2em; 
}

.textView .bo p {
  font-size:1.3em; 
}

.textView .ar p {
  font-weight:normal;
  font-size:1.2em; 
}

.textView .latin p, .textView .ru p{
  font-size:1.1em;
}

.vcenterContainer{
 height:100%;
 width:100%;
 display: table;
}

fieldset+fieldset {
 margin-top: 1em;
}
fieldset {
 border: 1px solid #888;
 padding: 0.5em 0.2em;
}

#settingsTab .settings {
 max-width: 30em !important;
 margin:0 auto; 
}
#messageHour-menu{
 overflow-y: auto;
 overflow-x: hidden;
 padding-bottom: 1px;
 max-height: 12em;
}

.vcenter{
 /*horizontal and vertical centering*/
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}


#verseOfTheDayNarrow{
 max-width:25em;
 display:inline-block;
}

#verseOfTheDay, #settingsTab .buttons{
 padding-bottom: 1em;
}




#verseOfTheDay .verse{
 font-size:2em;
 text-align:center;
 margin:0.5em 0;
}

html, body{ 
 padding:0;
 margin:0;
 height:100%;
 overflow:hidden;
 font-family:Roboto,"San Francisco", "Lucida Sans Unicode", "Lucida Grande", "Bitstream Vera Sans",sans-serif;
}

body.light {
 background-color:#fff;
 color:#000;
}
body.dark {
 background-color:#000;
 color:#fff;
}
.light #infoTab a{
 color:#b00;
}

.dark #infoTab a{
 color:#f55;
}


.header, .footer {
 background-color: #136AA6;
 color:#fff;
}
/*
body.cordova.ios {
  position:relative;
  border-top: constant(safe-area-inset-top) solid #136AA6;
  border-top: env(safe-area-inset-top) solid #136AA6;
  border-bottom: constant(safe-area-inset-bottom) solid #136AA6;
  border-bottom: env(safe-area-inset-bottom) solid #136AA6;
  padding-left: constant(safe-area-inset-left); 
  padding-left: env(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right); 
  padding-right: env(safe-area-inset-right);
}
*/
.footer{
 position:absolute;
 bottom:0;
 left:0;
 width:100%;
 height:3em;
 overflow-x:auto;
 overflow-y:hidden;
 text-align:center;
}
.footer .tabs{display:table; margin:auto;}
.footer .tab{display:table-row}
.footer .tab li{display:table-cell;width:auto}

.header{
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:3em;
 text-align:center
}
.tabtitle{
 padding-top: 0.4em;
}

.header h1 {
 padding:0;
 margin:0.5em 0 0 0;
 font-size:1em;
 font-weight:bold;
}

.header a{
 height: 1em;
 padding: 0.4em 1% 0.6em 1%;
}


/* Style the list */
.tab{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 color: #fff;
 height:3em;
}

/* Float the list items side by side */
.tab li {
 display:inline-block;
 height:3em;
 overflow:hidden;
 vertical-align:top;
}

/* Style the links inside the list items */
.tab li a {
 display: inline-block;
 color: #fff;
 text-align: center;
 text-decoration: none;
/* transition: 0.1s; */
 font-size:0.7em;
 font-weight:bold;
 padding:2.6em 0.5em 0 0.5em;
 min-width:4.5em;
 line-height:0.87em;
 height: 4.3em;
}

/* Change background color of links on hover */
.tab li:hover,.tab li:hover a{
 background-color: #ddd;
 color:#136AA6;
}

.tab .active, .tab .active a{
 background-color: #ccc;
 color:#136AA6;
}


/* tablink classes */
.tablinks{
 background-size: 1.9em 1.9em;
 background-repeat: no-repeat;
 background-position: center 0.2em; 
}

#homeTabBtn{
 background-image: url('../icons/sun.png');
}
#homeTabBtn:hover, .active #homeTabBtn{
 background-image: url('../icons/sun_active.png');
}

#infoTabBtn{
 background-image: url('../icons/info.png');
}
#infoTabBtn:hover, .active #infoTabBtn{
 background-image: url('../icons/info_active.png');
}

#settingsTabBtn{
 background-image: url('../icons/settings.png');
}
#settingsTabBtn:hover, .active #settingsTabBtn{
 background-image: url('../icons/settings_active.png');
}

#textTabBtn{
 background-image: url('../icons/text.png');
}
#textTabBtn:hover, .active #textTabBtn{
 background-image: url('../icons/text_active.png');
}

#favoritesTabBtn{
 background-image: url('../icons/favorites.png');
}
#favoritesTabBtn:hover, .active #favoritesTabBtn{
 background-image: url('../icons/favorites_active.png');
}


.spacer{height:1em;}

#settingsTab #saveBtn{
 background: #494;
 color:#fff;
 font-weight:bold;
 width:45%;
 display:inline-block;
 padding: 0.3em 0;
}

#settingsTab #cancelBtn{
 background: #b33;
 color:#fff;
 font-weight:bold;
 width:45%;
 margin-left:0;
 margin-right:8%;
 display:inline-block;
 padding: 0.3em 0;
}

.uilang-ar #settingsTab #cancelBtn{
 margin-left:8%;
 margin-right:0;
}

#settingsTab #saveBtn:hover{
 background: #4a4;
}
#settingsTab #cancelBtn:hover{
 background: #c22;
}
#settingsTab legend, #settingsTab td, .smallFormInfo{
 text-align:left;
}
.uilang-ar #settingsTab legend, .uilang-ar #settingsTab td, .uilang-ar .smallFormInfo{
 text-align:right;
}

.uilang-bo .header h1 {
  margin: 0;
  font-size: 1.4em;
  font-weight:normal;
}

.uilang-bo #homeTab .btn {
  font-size: 1.3em;
  line-height: 120%;
  padding-top: 0;
}

.uilang-zh-cn #homeTab .btn, .uilang-zh-tw #homeTab .btn {
  font-size: 1.3em;
}


.uilang-bo .tab li a {
  font-size: 1em;
  padding: 1.9em 0.5em 0 0.5em;
}

.uilang-bo .tablinks {
  background-size: 1.5em 1.5em;
  font-weight:normal;
}

.center{
 text-align:center;
}

#notifyHour-button{
 max-width:4.5em;
}

.label{
 font-weight:bold;
 padding-right:0.2em;
}
.uilang-ar .label {
 padding-left:0.2em;    
 padding-right:0;
}


.light .smallFormInfo{
 font-size:0.9em;
 color:#444;
 padding:0.3em 0 0.7em 0;
}
.dark .smallFormInfo{
 font-size:0.9em;
 color:#ccc;
 padding:0.3em 0 0.7em 0;
}
.bo .smallFormInfo, #settingsTab.zh-cn .smallFormInfo,#settingsTab.zh-tw .smallFormInfo{
  font-size: 1.1em;
}
#settingsTab.bo, #settingsTab.zh-cn, #settingsTab.zh-tw {
  font-size: 1.2em;
}
.bo legend, #settingsTab.zh-cn legend,#settingsTab.zh-tw legend{
  font-size: 1.1em;
}
.bo label {
  font-size: 1.2em;
  font-weight: normal;
}
.bo legend{
  font-size: 1.2em;
}
#settingsTab .ui-checkboxradio-label{
 padding-left:0.3em;    
 padding-right:0.3em;    
}

.tabcontentWrap {
 overflow:auto;
 position:absolute;
 top:3em;
 bottom:3em;
 left:0;
 right:0;
}

.ios .tabcontentWrap, .mobile .tabcontentWrap {
 /* iOS scrolling improvements */
 overflow:scroll;
 -webkit-overflow-scrolling: touch;
}

#settingsTab select {
  font-size:1.1em;
  max-width:13em;
  padding:0.2em 0;
  direction:ltr;
/*  
  background: #ededed;
  border 1px solid #ccc;
  porder-radius:2px;
  color:#2b2b2b,*/
}


#chapterDropdown.bo .ui-selectmenu-text,
#chapterDropdown.ar .ui-selectmenu-text{
 font-size:0.9em;
}
#chapterDropdown .ui-selectmenu-text{
 max-height:1.7em; 
 overflow: hidden;
}
#chapterDropdown .ui-selectmenu-button {
 padding: 0.2em 1em;
}

/* Style the tab content */
body, .tabcontentWrap {
 width:100%;
}
.hiddenOnStartup {
 display:none !important;
}
.tabcontent {
 height:100%;
 width:96%;
 margin:0 2% 0 2%;
}

.tabtitle {
 display: none;
}

#chapterDropdown .ui-selectmenu-button {
 width:40em;
 max-width: 55%;
 padding-left: 1%;
 padding-right: 1%; 
}

.ui-selectmenu-menu {
  max-width: 70vw;
  max-height: 80vh;
  overflow-x: hidden;  
  overflow-y: auto;  
}
.web .hideForWeb{
 display:none
}

/*
.tabcontent {
 -webkit-animation: fadeEffect 0.1s;
 animation: fadeEffect 0.1s;
}


@-webkit-keyframes fadeEffect {
 from {opacity: 0;}
 to {opacity: 1;}
}

@keyframes fadeEffect {
 from {opacity: 0;}
 to {opacity: 1;}
}
*/

/* chapter view */
.textView{
  max-width: 40em;
  margin: 0 auto;
  padding-top:0.5em;
}
.textView .chapterSpacer{
  padding-top: 1.5em;
}
.textView .verseSpacer{
  padding-top: 1.2em;
}

.textView .verse{
 margin-bottom:0.75em;
}
.textView .verse.bo {
 margin-top: 0.75em;
}
.textView{
 direction:ltr;
 text-align:left;     
}

.textView h1 {
 margin:0 0 0.5em 0;
 text-decoration:none;
 border-bottom: 1px solid #000;
 display:inline-block;
}
.textView p{
 font-family:"Noto Serif", "Roboto Slab", "New York", Roboto,"San Francisco","Lucida Sans Unicode", "Lucida Grande", "Bitstream Vera Sans",sans-serif;
 text-indent:-1em;
 padding-left:1em;
 padding-right:0.6em;
 margin:0;
 font-size: 1.1em;
}

.textView .ar p{
 text-indent:-1.2em;
 padding-right:1.2em;
}


.textView h1.latin {
 font-size:2.2em;
 line-height:0.9em;
 margin-bottom:0.2em;
 font-family:"TangerineBold";    
}

.textView h1.latin.sa {
 margin-bottom:0.5em;
}
.textView h1.ru {
 font-size:1.8em;
 line-height:1em;
 font-weight:normal;
}

.textView h1.ar {
 font-size:2em;
 line-height:1em;
 padding:0.4em;
}
.textView h1.bo {
 font-size:2em;
 line-height:1.25em;
 padding-top:0.2em;
}
.textView h1.zh-cn, .textView h1.zh-tw, .textView h1.sa-devanagari{
 font-size:1.7em;
 line-height:1.25em;
}

.textView h1.ar, .textView .ar p {
 text-align: right;
 direction:rtl;
}

.textView h1.ar{
 display:block;
 border:none;
 text-decoration:underline;    
}

@media only screen and (min-width: 1000px) {
  #settingsTab select {
   font-size:1.1em;
   max-width:18em;
  }
    
 .textView .latin p, .textView .ru p{
  font-size:1.25em;
 }

 .textView .zh-cn p, .textView .zh-tw p, .textView .sa-devanagari p{
  font-size:1.5em; 
 }

 .textView .bo p{
  font-size:1.7em; 
 }

 .textView .ar p{
  font-size:1.45em; 
 }
  
 #verseOfTheDay .latin {
  font-size:2.5em;
 }
 #verseOfTheDayNarrow {
  max-width:700px;
 }
 
 #verseOfTheDay .ar{
  padding:0 80px;
  font-size:2em;
 }
}

@media only screen and (max-width: 999px) {
 .tab li a {
  padding-top:2.4em;
  font-size:0.65em;
  padding-left:6px;
  padding-right:6px;
 }
}

@media only screen and (max-width: 650px) { 
 .uilang-bo .tab, .uilang-bo .footer,.uilang-bo .tab .li{height:4em}
 .uilang-bo .tab li a{height:4.3em; padding-left: 0.2em; padding-right: 0.1em; min-width:3em;}
 #settingsTab td {min-width:35vw;}
 #settingsTab td *{max-width:45vw;}
 #settingsTab select{width:45vw;}
}

@media only screen and (max-width: 400px) { 
/* workaround for Android 4.4  bug */
 .android4 #settingsTab table, .android4 #settingsTab fieldset, .android4 #settingsTab form, .android4 #settingsTab div{  
  min-width:0 !important;
  max-width:90vw;
 } 

 .android4 #settingsTab {
  width:96vw;
  overflow-x:hidden;
 }
/* End: workaround for Android 4.4  bug */
    
  .ui-selectmenu-button.ui-button {
    width: 140px !important;
  }
  
  #settingsTab .ui-button{padding-left:0.1em;padding-right:0.1em;}
    

  #homeTabTitle {
    padding-top:0.2em;   
  }
 #verseOfTheDay .verse {
  font-size:1.8em;
 } 

 #verseOfTheDay .verse.bo {
  font-size:1.5em; 
 }

 #verseOfTheDay .verse.ar {
  font-size:1.4em;
 }

 #verseOfTheDay .verse.ru {
  font-size:1.25em;
 }
 
 .uilang-bo .tab li a {
  font-size: 0.9em;
  padding: 1.9em 0.5em 0 0.5em;
 } 

 .uilang-bo .header h1 {font-size: 1.15em;line-height:1.1em;}
 .uilang-bo .tab, .uilang-bo .footer,.uilang-bo .tab .li{height:4.5em}
 .uilang-bo .tab li a{height:4.8em; padding-left: 0.2em; padding-right: 0.1em; min-width:3em;} 
}

@media only screen and (max-width: 300px) {
 .ui-selectmenu-button.ui-button {
    width: 100px !important;
  }
  
 .tab li a {
  padding-left:3px;
  padding-right:3px;
 }

 #verseOfTheDay .verse.bo {
  font-size:1.35em; 
 }

}
